certificates.tf
.dockerignore
.editorconfig
.envrc
.envrc.template
.git
.gitignore
host.tf
LICENSE
pod.yaml
README.md
scripts
secrets.yaml
setup-host.bash
.terraform
.terraform.lock.hcl
terraform.tf
vars.tf
vars.tfvars
