export TF_VARS_FILE="vars.tfvars"
export PODMAN_SECRETS_FILE="secrets.yaml"
export AWS_ACCESS_KEY_ID="TODO"
export AWS_SECRET_ACCESS_KEY="TODO"
export AWS_REGION="TODO"
export TF_VAR_tailscale_authkey="TODO"
