# export AWS_ACCESS_KEY_ID="TODO"
# export AWS_SECRET_ACCESS_KEY="TODO"
# export TAILSCALE_OAUTH_CLIENT_ID="TODO"
# export TAILSCALE_OAUTH_CLIENT_SECRET="TODO"
# export TAILSCALE_TAILNET="TODO"
# export CLOUDFLARE_API_TOKEN="TODO"
# export TF_VAR_cloudflare_api_token="$CLOUDFLARE_API_TOKEN"
